// Source: Slides de Presentaciones
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "commons/impress-scss/impress-demo";

.slide_PDVSA {
    @extend .slide;
    @extend .fonts_slide_pdvsa;
    display: block;
    width: 950px;
    height: 600px;
    padding: 20px 60px;
    top: 15px;
    z-index: 25;
    background-color: $color_white_PDVSA;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 150%;

}



// Style: Body
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.myBody {
    background-color: white;
}


// Style: Slogan PDVSA
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.sloganPDVSA {
    @extend .fonts_slogan_pdvsa;
    padding: 20px;
    top: -15px;
    right: 5px;
    position: absolute;
    }

hr.fancy-line {
border: 0;
height: 1px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
margin-top: 0px;
}
