// Source: header general PDVSA
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "commons/bootstrap-scss/bootstrap";

// Funcion: mixin header
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin header_properties ($header_background, $header_height, $header_left, $header_top) {
    background-color: $header_background;
    height: $header_height;
    left: $header_left;
    position: absolute;
    top: $header_top;
    width: 100%;
}

// Funcion: mixin imagenes (logos oficiales)
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin images_properties ($images_left, $images_top) {
    left: $images_left;
    position: absolute;
    top: $images_top;
}

// Extend: navbar_inverse bootstrap PDVSA
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.navbar_inverse_bootstrap_PDVSA {
    @extend .navbar-inverse;
    background-color: $color_red_PDVSA;
    
}
// Extend: navbar bootstrap PDVSA
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.navbar_bootstrap_PDVSA {
    @extend .navbar;
    border-radius: 0px;
    border: 0px;
    top: 25px;
    min-height: 55px;
}

// Extend: navbar bootstrap PDVSA Presentation
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.navbar_bootstrap_PDVSA_presentation {
    @extend .navbar;

    background-image: url("../images/header-pdvsa.png");
    background-size: initial;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 0px;
    border: 0px;
    top: 0px;
    min-height: 62px;
    z-index: 50;
}

@media (min-width: 768px) {
    .navbar_bootstrap_PDVSA  {
        border-radius: 0px;
    }
}

// Extend: boton extensor .navbar-toggle bootstrap
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.navbar-toggle_PDVSA {
    @extend .navbar-toggle;
    position: relative;
    float: right;
    padding: 9px 9px;
    margin-top: 9px;
    margin-right: 15px;
    margin-bottom: 9px;
    background-color: transparent;
    border: 0px;
}

.navbar-toggle_PDVSA .icon-bar {
    display: block;
    width: 25px;
    height: 2.4px;
    border-radius: 0px;
    padding: 1px;
}

.navbar_bootstrap_PDVSA .navbar-toggle_PDVSA:hover,
.navbar_bootstrap_PDVSA .navbar-toggle_PDVSA:focus {
    background-color: transparent;
}

// Extend: barra de navegacion .navbar-nav bootstrap
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.navbar-nav_PDVSA {
    @extend .navbar-nav;
}

@media (min-width: 768px) {
    .navbar-nav_PDVSA {
        float: right;
        margin-top: 9px;
    }

    .navbar-nav_PDVSA > li {
        float: left;
        margin-bottom: 4px;
    }

.navbar-nav_PDVSA > li > a {
    padding: 10px;
    }

}

.navbar_inverse_bootstrap_PDVSA .navbar-nav_PDVSA > li > a {
    @extend .fonts_main_links;
    color: $color_white_PDVSA;
    background-color: transparent;
    padding: 10px;
}

.navbar_inverse_bootstrap_PDVSA .navbar-nav_PDVSA > li > a:hover,
.navbar_inverse_bootstrap_PDVSA .navbar-nav_PDVSA > li > a:focus {
    color: $color_gray_PDVSA;
    background-color: transparent;
}


// Style: Headers oficiales
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.header_GBV {
    @include header_properties ($color_white_PDVSA, 120px, 0px, 0px);
}

// Style: Logos oficiales
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.logo_GBV {
    @include images_properties (15px, 0px);
}

.logo_PDVSA {
    @include images_properties (22px, 9px);
}
