//Source: Elementos Web
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@import "commons/bootstrap-scss/bootstrap";

// Funcion: mixin elements
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin elements_properties ($element_bgcolor, $element_color, $element_height, $element_width, $element_padding) {
  background-color: $element_bgcolor;
  color:   $element_color;
  height:  $element_height;
  padding: $element_padding;
  width:   $element_width;


}

// Style: Boton Aceptar / Formularios
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.button_ok input[type=submit] {
  @extend .fonts_button_ok;
  @extend .btn-default;
  @include elements_properties ($color_palid_cream, $color_gray_dark, 500px, 1000px, 1s0px);
  border-radius: 5px;
}

// Style: Titulo seccion
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.title_section {
    @extend .fonts_title_section;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 27px;
    background-color: $color_gray_dark;
    padding-left: 15px;
    padding-top: 5px;
}

.title_section_presentation {
    @extend .fonts_title_section;
    position: absolute;
    top: 55px;
    width: 100%;
    left: 0px;
    height: 27px;
    background-color: $color_gray_dark;
    padding-left: 15px;
    padding-top: 5px;
    z-index: 25;
}

.content_section{
    @extend .fonts_contents;
    position: relative;
    top: 28px;
    width: 100%;
    left: 0px;
    padding-left: 0px;
    padding-top: 5px;
}

// Style: Cajas de texto string / Formularios
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.text_fields_regular input[type=text] {
    @extend .fonts_fields;
    @extend .form-control;
    @include elements_properties (red, $color_gray_dark, 40px, 100%, 5px);
    border-radius: 5px;
}


// Style: Cajas de texto password / Formularios
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.text_fields_password input[type=password] {
    @extend .fonts_fields;
    @extend .form-control;
    @include elements_properties ($color_palid_cream, $color_gray_dark, 40px, 100%, 5px);
    border-radius: 5px;
    ;
}
