
<nav class="navbar_bootstrap_PDVSA_presentation navbar_inverse_bootstrap_PDVSA">
    <div class="container-fluid">
        <div class="navbar-header">
<span class="sloganPDVSA"><br>1era iteración. 06 de junio, 2019</span>
            <a class="navbar-brand" href="#">

                



            </a>

        </div>
    </div>

</nav>
